In [2]:
import pandas as pd
import numpy as np

In [21]:
data = {'Country':['Taiwan', 'China', 'United States', 'South Korea'],'population':(np.random.randint(0, 10, size=4))*1000}

In [22]:
country_list=pd.DataFrame(data)

In [32]:
country_list

         Country  population
0         Taiwan        4000
1          China        8000
2  United States        6000
3    South Korea        7000

In [39]:
country_list.population.max()

8000

In [45]:
country_list=country_list.sort_values(by=['population'], ascending=False)

In [46]:
country_list

         Country  population
1          China        8000
3    South Korea        7000
2  United States        6000
0         Taiwan        4000

In [48]:
country_list.Country.head(1)

1    China
Name: Country, dtype: object

In [51]:
print("%s has the most population among the lists" %country_list.Country.head(1).to_string())

1    China has the most population among the lists